<header class="border-b p-3 w-full">
  <div class="flex items-center justify-between max-w-screen-2xl mx-auto">
    <img routerLink="/" src="/images/myylogo.png" alt="app logo" class="max-h-16" />

    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a *ngIf="currentUser()?.roles?.includes('Admin')" routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>

    <div class="flex gap-3 items-center">
      <a
        matBadge="{{ itemCount() }}"
        matBadgeSize="large"
        class="custom-badge"
        routerLink="/cart"
        mat-icon-button
        aria-label="Cart"
      >
        <mat-icon>shopping_cart</mat-icon>
      </a>

      <ng-container *ngIf="!currentUser()">
        <button mat-stroked-button [routerLink]="['/login']" [queryParams]="{ returnUrl: currentUrl }">Login</button>
        <button mat-stroked-button [routerLink]="['/register']" [queryParams]="{ returnUrl: currentUrl }">Register</button>
      </ng-container>

      <ng-container *ngIf="currentUser()">
        <button mat-button [matMenuTriggerFor]="userMenu">{{ currentUser()?.email }}</button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="/profile">Profile</button>
          <button mat-menu-item routerLink="/orders">Your Orders</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </ng-container>
    </div>
  </div>

  <mat-progress-bar *ngIf="isLoading()" mode="indeterminate" color="primary"></mat-progress-bar>
</header>
