.confirm-wrapper {
  max-width: 24rem;
  margin: 6rem auto;
  text-align: center;

  .success-icon {
    font-size: 5rem;
    color: #7e22ce;
    margin-bottom: 1rem;
  }

  .confirm-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #4f46e5;
  }

  .confirm-msg {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    color: #374151;
  }

  .view-orders-btn {
    font-weight: 600;
    background-color: #7e22ce;
    &:hover {
      background-color: #4f46e5;
    }
  }
}
